[package]
name = "{{crate_name}}"
version = "0.0.0"
authors = ["{{authors}}"]
edition = "2018"
license = ""
description = ""
repository = ""
documentation = ""
readme = ""
exclude = []
publish = false

[dependencies]
windows = "0.18.0"
bindings = { path = "bindings" }

[workspace]
members = [
    "bindings"
]