[package]
name = "windows-app"
version = "0.17.2"
authors = ["Microsoft"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Windows App SDK"
repository = "https://github.com/microsoft/windows-app-rs"
documentation = "https://docs.rs/windows-app"
readme = ".github/readme.md"
exclude = [".github", "docs"]

[dependencies]
windows = "0.17.2"

[build-dependencies]
windows = "0.17.2"
